@use "globals";

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: clip;
}

header {
    background-color: rgba(255,255,255,1);
}

.carousel {
    padding-top: 70px;
}

.d-block {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.neg-marg {
    margin-top: -10vw;
}

.pad {
    padding-top: 70px;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    color: rgb(56, 56, 56);
    z-index: 2;
  }

h1, h2, span, .navbar-brand {
    font-family: globals.$logo2-font;
    color: rgb(63, 63, 63)
}

span {
    color: black;
}

.nav-link {
    border-radius: 3px;
}

.nav-link:hover {
    background-color: rgba(17,115,185,0.95);
    transition: all 0.7s ease-in-out;
    color: white !important;
    transform: scale(1,1.2)
}

.mostrar {
    visibility: hidden;
}

.card-img-top {
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

.lead {
    padding: 20px 40px 0px;
}

.transparent {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-95%);
    height: 15vw;
    background: linear-gradient(0, rgba(255,255,255,1), rgba(255, 255, 255, 0.5), rgba(255,255,255,0));
    z-index: 1;
}

.box {
    height: 300px;
    color: white;
    &:nth-of-type(1) {
        background-color: rgba(29,175,237,0.95);
    }
    &:nth-of-type(2) {
        background-color: rgba(17,115,185,0.95);
    }
    &:nth-of-type(3) {
        background-color: rgba(59,205,231,0.95);
    }
}