@use "globals";

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: clip;
}

header {
    background-color: rgba(255,255,255,1);
    
}

.navbar {
    animation: entrance 2.5s linear 1;
}

@keyframes entrance {
    0% {top: -100%}
}

.loading-bar {
    background-color: rgb(104, 104, 104);
    width: 70%;
    height: 3.5px;
    position: fixed;
    top: 3.4em;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 99999;
    border-radius: 5px;
    animation: loading 2.5s ease-in-out infinite;
}
@keyframes loading {
    0% {transform: translate(-200%,0);}
    100% {transform: translate(200%,0);}
}

.scrolling-bar {
    background-color: rgb(56,56,56);
    width: 0%;
    height: 3px;
    position: absolute;
    top: 3.4em;
    left: 0%;
}

.portada {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}
.animate {
    animation: animate 2s linear 1;
}
@keyframes animate {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.portada-img {
    background-color: gray;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    animation: color-load 1.5s ease-in-out infinite;
}
.jornada-img {
    background-color: gray;
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    animation: color-load 1.5s ease-in-out infinite;
}
@keyframes color-load {
    0% {background-color:gray;}
    50% {background-color: rgb(17,115,185);}
    100% {background-color:gray;}
}

.carousel {
    padding-top: 3.7em;
}

.d-block {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.neg-marg {
    margin-top: -10vw;
}

.pad {
    padding-top: 70px;
}

.hero-text {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);
    color: rgb(56, 56, 56);
    z-index: 3;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.desc {
    color:rgb(56, 56, 56);
    text-align: left;
    font-style: italic;
    font-weight: 600;
}

.contactame {
    background-color: rgba(29,175,237,0.95);
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    color: white;
    font-weight: bolder;
    font-family: globals.$logo2-font;
    letter-spacing: 1px;
}

h1, h2, span, .navbar-brand {
    font-family: globals.$logo2-font;
    color: rgb(63, 63, 63);
}

span {
    color: black;
}

.nav-link {
    border-radius: 3px;
    font-family: globals.$nav-font;
}

.nav-link:hover {
    background-color: rgba(29,175,237,0.95);
    transition: all 0.7s ease-in-out;
    color: white !important;
    transform: scale(1,1.1);
}

.mostrar {
    display: none;
    visibility: hidden;
}

.card-img-top {
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

.lead {
    padding: 20px 40px 0px;
}

.transparent {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-95%);
    height: 15vw;
    background: linear-gradient(0, rgba(255,255,255,1), rgba(255, 255, 255, 0.5), rgba(255,255,255,0));
    z-index: 1;
}

.box {
    height: 300px;
    color: white;
    &:nth-of-type(1) {
        background-color: rgba(29,175,237,0.95);
    }
    &:nth-of-type(2) {
        background-color: rgba(17,115,185,0.95);
    }
    &:nth-of-type(3) {
        background-color: rgba(59,205,231,0.95);
    }
    h1 {
        font-family: globals.$logo2-font;
    }
    p {
        font-family: globals.$nav-font;
        font-weight: lighter;
    }
}

@media only screen and (max-width: 600px) {
    .d-block {
        aspect-ratio: 9 / 18;
        object-position: 22% 0%;
    }
    .desc, .hero-text h1, .hero-text h1 span {
        color: white;
    }
    .hero-text {
        transform: translate(0%,10%);
    }
    .hero-text h1 {
        line-height: 0.9;
    }
}