@use "globals";

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: clip;
}

.carousel {
    padding-top: 70px;
}

.navbar-brand {
    font-family: globals.$logo-font;
}

.transparent {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-95%);
    height: 200px;
    background: linear-gradient(0, rgba(255,255,255,1), rgba(255, 255, 255, 0.5), rgba(255,255,255,0));
    z-index: 5;
}

.box {
    height: 200px;
    color: white;
    &:nth-of-type(1) {
        background-color: rgba(29,175,237,0.95);
    }
    &:nth-of-type(2) {
        background-color: rgba(17,115,185,0.95);
    }
    &:nth-of-type(3) {
        background-color: rgba(59,205,231,0.95);
    }
}
/*
header {
    position: fixed;
    width: 100%;
    height: 100px;
    nav {
        position: relative;
        top: 0%;
        left: 60%;
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            margin: 0;
            padding: 0;
            li {
                color: white;
                margin: 0;
                padding: 0;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
*/